.history {
	text-align: center;
	display: inline-block;
}

.history h1 {
	font-size: 26px;
}
.history h2 {
	font-size: 18px;
	margin-top: 1px;
}

.about-us {
	padding: 2%;
}

.fondators {
	padding: 4%;
}

.description #damien {
	margin: 10%;
}

.description {
	display: inline;

}

img#imgLaurent {
	margin-top: 20px;
}
.description img {
	width: 20%;
	height: 20%;
}

.description p {
	text-align: center;
	display: inline;
	width: 40%;
	height: 40%;
}

#about-us {
	margin-top: 4px;
	padding: 2px;
}

#rencontre {
	width: 50%;
}

img#ratatouille {
	width: 40%;
	height: 40%;

}

.recette p{
	text-align: center;
	width: 50%;
	margin-left: 25%;
}