@import 'https://fonts.googleapis.com/css?family=Nunito|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i';

footer {
	background-image: url("../img/header-bg.png");
	font-family: 'Nunito', sans-serif;
	color: white;
	text-align: center;
}

article p {
	vertical-align: center;
	text-align: justify;
}

footer ul {
	margin: 0;
	padding: 0;
}

li {
	text-align:center;
	list-style: none
}

a:link, a:visited {
	color:white;
}

a:hover {
	color:#da1d1d;
	text-decoration: none;
}

#main {
	height: 20vh;
}

#main img {
	height:100%;
    display: block;
    margin: auto;

}

#separ {
	height: 5vh;
}

#navbarL {
	height: 20%;
	vertical-align: center;
	text-align: center;
	font-size: 150%;
}

#navbarS {
	position: relative;
}

#headmain {
	background-image: url("../img/logo-resto.png"), url("../img/header-bg.png");
	background-repeat: no-repeat, no-repeat;
	background-position: center, center;
	background-size: contain, cover;
	font-family: 'Nunito', sans-serif;
	color: white;
}

#imgacc {
	height:85vh;
	width:100%;
	background-image: url("../img/imgacc.jpg");
	background-size:cover;
}

#lognav img {
	width:75%;
}
/*
 #navbarL p {
	font-size:1.3em;
}
*/
.btn {
    height: 60px;
    width: 60px;
    margin-top: 50%; 
    /* margin-left veut pas marcher */

}

.btn-primary {
    background: #961414;
    border-color:white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .open > .dropdown-toggle.btn-primary {
    background: #da1d1d;
    border-color: white;
}



span.glyphicon-menu-hamburger {
    font-size: 25px;
    text-align: center;
}

.open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
	background-color: #e95d5d;
	border-color:white;
}

article img {
	width:66%;
	display:block;
	margin: auto;
}

#menfran {
	color:#cd8400;
}

#menfran:hover {
	color:#ffae1a;
}

#accdown {
	width: 10%;
	height: 10%;
}

.glyphicon-menu-down {
    font-size: 4em;
}

#imgresto img {
	width:100%;
}


/* Pages des restaurants */

#accordion {
		text-align: justify;
}

#accordion h5 {
	color:#961414;
}

.panel {
		border-color:#149696;
}

.panel-default > .panel-heading {
		filter:none;
		background-image:url("../img/header-bg.png");
}

td {
	padding-right: 5px;
}